@import "_variables.scss";
@media screen and (min-width: $break-large) {
    .main-menu{
        &.inner-user{
            position:absolute;
            right:0;
            bottom: 0;
            margin-right: 2%;
            width: initial;

            .nav-item{
                margin: 0 7.5px 0 0;
                position: relative;
                background: -moz-linear-gradient(90deg, rgba(84,84,84,1) 0%, rgba(255,255,255,1) 50%, rgba(69,69,69,1) 100%); /* ff3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69,69,69,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(84,84,84,1))); /* safari4+,chrome */
                background: -webkit-linear-gradient(90deg, rgba(84,84,84,1) 0%, rgba(255,255,255,1) 50%, rgba(69,69,69,1) 100%); /* safari5.1+,chrome10+ */
                background: -o-linear-gradient(90deg, rgba(84,84,84,1) 0%, rgba(255,255,255,1) 50%, rgba(69,69,69,1) 100%); /* opera 11.10+ */
                background: -ms-linear-gradient(90deg, rgba(84,84,84,1) 0%, rgba(255,255,255,1) 50%, rgba(69,69,69,1) 100%); /* ie10+ */
                background: linear-gradient(0deg, rgba(84,84,84,1) 0%, rgba(255,255,255,1) 50%, rgba(69,69,69,1) 100%); /* w3c */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#545454',GradientType=0 ); /* ie6-9 */
                padding: 0 1rem;
                float: left;
                text-decoration: none;
                color: #444;
                text-shadow: 0 1px 0 rgba(255,255,255,.8);
                -webkit-border-radius: 5px 0 0 0;
                -moz-border-radius: 5px 0 0 0;
                border-radius: 5px 0 0 0;
                -moz-box-shadow: 0 2px 2px rgba(0,0,0,.4);
                -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
                box-shadow: 0 2px 2px rgba(0,0,0,.4);
                &:after{
                    content: '';
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    right: -.5em;
                    bottom: 0;
                    width: 1em;
                    background: -moz-linear-gradient(90deg, rgba(84,84,84,1) 0%, rgba(255,255,255,1) 50%, rgba(69,69,69,1) 100%); /* ff3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69,69,69,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(84,84,84,1))); /* safari4+,chrome */
                    background: -webkit-linear-gradient(90deg, rgba(84,84,84,1) 0%, rgba(255,255,255,1) 50%, rgba(69,69,69,1) 100%); /* safari5.1+,chrome10+ */
                    background: -o-linear-gradient(90deg, rgba(84,84,84,1) 0%, rgba(255,255,255,1) 50%, rgba(69,69,69,1) 100%); /* opera 11.10+ */
                    background: -ms-linear-gradient(90deg, rgba(84,84,84,1) 0%, rgba(255,255,255,1) 50%, rgba(69,69,69,1) 100%); /* ie10+ */
                    background: linear-gradient(0deg, rgba(84,84,84,1) 0%, rgba(255,255,255,1) 50%, rgba(69,69,69,1) 100%); /* w3c */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#545454',GradientType=0 ); /* ie6-9 */
                    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
                    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
                    box-shadow: 2px 2px 2px rgba(0,0,0,.4);
                    -webkit-transform: skew(10deg);
                    -moz-transform: skew(10deg);
                    -ms-transform: skew(10deg);
                    -o-transform: skew(10deg);
                    transform: skew(10deg);
                    -webkit-border-radius: 0 5px 0 0;
                    -moz-border-radius: 0 5px 0 0;
                    border-radius: 0 5px 0 0;
                }
                &.active{
                    z-index: 3;
                    background: -moz-linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* ff3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(128,128,128,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(192,192,192,1))); /* safari4+,chrome */
                    background: -webkit-linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* safari5.1+,chrome10+ */
                    background: -o-linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* opera 11.10+ */
                    background: -ms-linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* ie10+ */
                    background: linear-gradient(0deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* w3c */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#c0c0c0',GradientType=0 ); /* ie6-9 */
                    &:after{
                        background: -moz-linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* ff3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(128,128,128,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(192,192,192,1))); /* safari4+,chrome */
                        background: -webkit-linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* safari5.1+,chrome10+ */
                        background: -o-linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* opera 11.10+ */
                        background: -ms-linear-gradient(90deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* ie10+ */
                        background: linear-gradient(0deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* w3c */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#c0c0c0',GradientType=0 ); /* ie6-9 */

                    }
                }
                .nav-link{
                    margin: 0 !important;
                    &:hover{
                        background: none;
                    }

                }
            }
        }
    }

}

