<!-- about -->
<h1>About</h1>
<div class="col-md-12 col-xs-12 pl-0 pr-0">
    <strong>Tool manufacturers constantly improve their products</strong> to meet the market demands. Especially, nowadays, when technology is updated on a daily basis, it&#8217;s necessary for manufactures to be in a direct contact with tool manufacturers&#8217; updated knowledge.
    <p>Yet, all this knowledge and developments in the field have no direct way for getting to most metal working manufacturers.
    <strong>Wisercut&#8217;s </strong>aim is to allow all metal working manufacturers who are looking for tools and cutting recommendations an access to this <strong>essential knowledge.</strong></p>
    <div><strong>Wisercut</strong> platform provides you the most innovative technical solutions, from <strong>headquarters&#8217; </strong>experts of leading tool manufacturers, to your <strong>private account.</strong></div>
</div>

