<!-- home -->
<div id="slider">
    <img id="home-pic" class="img-fluid" src="Content/images/home_banner_big.jpg" alt="workers near cnc machine">
</div>
<div class="container" id="main-content">
    <h1>WiserCut</h1>
    <div class="home d-md-inline-flex mb-4">
        <div class="col-md-6 col-xl-6 col-xs-12 iframe">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="100%" height="315" src="https://www.youtube.com/embed/3zCoiGZV6zA" frameborder="0" allowfullscreen>                
                </iframe>
            </div>
        </div>
        <div class="col-md-6 col-xl-6 col-xs-12 text">
            <h2 class="font-weight-bold blue mb-3 mt-3">What is WiserCut?</h2>
            WiserCut provides up-to-date information on cutting tools for metal-working manufacturers. 
            Tool manufacturers constantly improve their products to meet changing market demands. 
            To stay on top of the changes, customers need access to the latest information directly from manufacturers.
            AceCut by WiserCut is a web-based comparison solution for cutting tools. 
            AceCut allows users to get recommendations for cutting tools and application-specific 
            data directly from cutting tool suppliers within 24 hours of posting the request.</div>
    </div>
</div>