<!-- settings -admin -->
<h1 class="mb-4" style="margin-top:-45px;">Settings</h1>
<div id="settings" class='col-md-4 col-sm-12 mx-auto p-0'>
    <button type="button" class="btn btn-primary col-md-12 settings mb-4 collapsed" aria-expanded="false" data-toggle="collapse" data-target="#personal-settings">
        Personal Settings
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
     <div class='mb-3 form-group collapse' id="personal-settings">
        <div class="form-group mb-3">
            <label for="allow-newsletters" class="form-check-label align-middle" data-toggle="tooltip" data-placement="bottom" title="Subscribe for newsletters">Allow newsletters</label>
            <input class="toggle btn btn-primary btn-sm float-right mb-3" id="allow-newsletters" type="checkbox" data-on="yes" data-off="no" data-toggle="toggle" data-onstyle="primary" data-offstyle="secondary">
        </div>
        <div class="form-group mb-3">
            <label for="duplicate-mail" class="form-check-label align-middle" data-toggle="tooltip" data-placement="bottom" title="Allowing duplicating messages to your email">Duplicate messages to email</label>
            <input class="toggle btn btn-primary btn-sm float-right" id="duplicate-mail" type="checkbox" data-on="yes" data-off="no" data-toggle="toggle" data-onstyle="primary" data-offstyle="secondary">
        </div>
        <div class="form-group mt-3">
            <label for="firstname">Firstname:</label>
            <input type="text" name="firstname" class="form-control" id="firstname">  
        </div>    
        <div class="form-group mt-3">
            <label for="lastname">Lastname:</label>
            <input type="text" name="lastname" class="form-control" id="lastname">
        </div>   
        <div class="mb-3">  
            <div class="col-sm-12 mb-3 preview">
                <div class="">
                    <div>
                        <label for="pic-preview-user">Picture:</label>  
                    </div>
                    <div>
                        <img src="Content/images/no-preview.png" id="pic-preview-user" class="img-thumbnail">
                    </div>
                </div>
                <div class="col-md-12 font-weight-bold pl-0">
                    <div>Maximum allowed file size: 300 Kb.</div>
                </div>        
            </div>
            <div id="msg"></div>     
            <form method="post" id="image-form">   
                <input type="file" name="img[]" class="file" accept=".jpeg,.jpg,.png,.gif" id="file">
                <div class="input-group my-3">
                    <input type="text" class="form-control" disabled placeholder="Upload File" id="user-picture">
                    <div class="input-group-append">
                        <button type="button" class="browse-manager btn btn-primary">Browse...</button>
                    </div>
                </div>  
            </form>
        </div>
    </div>
    <button type="button" class="btn btn-primary col-md-12 settings mb-4 collapsed" data-toggle="collapse" data-target="#system-settings">
        System Settings
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
    <div class='mb-3 form-group collapse' id="system-settings">   
        <div class="form-group mb-3">
            <label for="questions-limit">Set daily questions limit: </label>
            <select class="form-control" id="questions-limit">
                <option>3</option>
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="companies-stat">Send statistics to the companies:</label>
            <select class="form-control" id="companies-stat">
                <option value="0">Never</option>
                <option value="1">Daily</option>
                <option value="3">Twice a week</option>
                <option value="7">Weekly</option>
                <option value="30">Monthly</option>
            </select>
        </div>
    </div>
    <button type="button" id="send-settings" class="btn btn-primary col-md-3 float-right">SAVE</button>
    <button type="button" id="discard-settings" class="btn btn-danger col-md-3 float-left">CANCEL</button>
</div>
<script>
    
    // Page setters etc.
    $(function () {

        $('[data-toggle="tooltip"]').tooltip();

        $('#duplicate-mail,#allow-newsletters').bootstrapToggle();    
        $('input[type="file"]').change(function (e) {

            var fileName = e.target.files[0].name;

            $('#user-picture').val(fileName);

            var reader = new FileReader();

            reader.onload = function (e) {
                $('#pic-preview-user').prop('src', e.target.result);
                var image = new Image();
                image.src = e.target.result;
                if (image.width > 800 && image.height > 800) {
                    $('.preview').addClass('red');
                    $('#pic-preview-user').addClass('border-red');
                    $('#send-settings').addClass('disabled');
                }
                else{
                    $('.preview').removeClass('red');
                    $('#pic-preview-user').removeClass('border-red');
                    $('#send-settings').removeClass('disabled');
                }// get loaded data and render thumbnail
            };
            reader.readAsDataURL(this.files[0]); // read the image file as a data URL
        });
    });
</script>


