<!-- users -admin -->
<table id="users-admin"
       data-search="true"
       data-search-align="left"
       data-stickyHeader="true"
       data-show-columns="true"
       data-show-toggle="true"
       data-mobile-responsive="true"
       data-show-fullscreen="true"
       data-sort-class="table-active"
       data-sortable="true"
       data-pagination="true"
       data-pagination-pre-text="Previous"
       data-pagination-next-text="Next"
       data-pagination-h-align="left"
       data-pagination-detail-h-align="right"
       data-page-list="[10, 25, 50, 100, ALL]"
       data-show-footer="false"
       data-filter-control="true"
       data-show-search-clear-button="true"
       data-show-export="true"
       data-click-to-select="true"
       data-show-print="true"
       data-row-attributes="rowAttributes"
       >
    <thead class="thead-dark">
        <tr>
            <th data-field="name" data-sortable="true" data-cell-style="cellStyle" data-formatter="imageFormatter" data-align="left">Name</th>
            <th data-field="username" data-sortable="true" data-align="center">Username</th>
            <th data-field="type" data-sortable="true" data-align="center" data-filter-control="select">User Type</th>
            <th data-field="email" data-sortable="true" data-align="center">Email</th>
            <th data-field="company" data-sortable="true" data-align="center" data-filter-control="select">Company</th>                     
            <th data-field="is_approved" data-sortable="true" data-formatter="approvedFormatter" data-align="center" data-filter-control="select">Is Approved</th>
            <th data-field="is_blocked" data-sortable="true" data-formatter="blockFormatter" data-align="center" data-filter-control="select">Is Blocked</th>
        </tr>
    </thead>
</table>
<script>
    
    // Cell styles
    function cellStyle(value, row, index, field) {
        if (field === "name") {
            return {
                classes: "name-info"
            };
        }
        return {};
    }
    
    // Is approved cell formatter
    function approvedFormatter(value, row) {
        if (value === true) {
            return '<i class="fa fa-check-square-o" aria-hidden="true"></i><span class="d-none">Yes</span>';
        } else {
            return '<span>No</span>';
        }
    }
    
    // Is blocked button formatter
    function blockFormatter(value, row) {
        if (value === true) {
            return '<span class="d-none">Yes</span><button type="button" class="btn unblock-user btn-success" data-userID=' + row.id + '>Unblock</button>';
        } else {
            if (row.is_approved == true) {
                return '<span class="d-none">No</span><button type="button" class="btn block-user btn-danger" data-userID=' + row.id + '>Block</button>';
            } else {
                return '<span class="d-none">No</span><button type="button" class="btn block-user disabled" data-userID=' + row.id + '>Block</button>';
            }
        }
    }
    
    // Image cell formatter
    function imageFormatter(value, row) {
        return '<img class="img-responsive user-picture" src="Content/images/user_pictures/' + (row.picture ? row.picture : 'default.png') + '" />' + '<span>' + value + '</span>';
    }
</script>