<!-- messages-in -advising user -->
<table id="messages-in"
       data-search="true"
       data-detail-view="true"
       data-search-align="left"
       data-stickyHeader="true"
       data-show-columns="true"
       data-detail-formatter="detailFormatter"
       data-show-toggle="true"
       data-mobile-responsive="true"
       data-show-fullscreen="true"
       data-sort-class="table-active"
       data-sortable="true"
       data-pagination="true"
       data-unique-id="id"
       data-pagination-pre-text="Previous"
       data-pagination-next-text="Next"
       data-pagination-h-align="left"
       data-pagination-detail-h-align="right"
       data-page-list="[10, 25, 50, 100, ALL]"
       data-show-footer="false"
       data-filter-control="true"
       data-show-search-clear-button="true"
       data-show-export="true"
       data-detail-view-icon="true"
       data-detail-view-by-click="false"
       data-click-to-select="true"
       data-show-print="true"
       >
    <thead class="thead-dark">
        <tr> 
            <th data-field="id" data-align="center" data-visible="false" rowspan="2">ID</th>
            <th data-field="is_new" data-align="center" data-formatter="statusFormatter" rowspan="2">Status</th>
            <th data-field="date" data-align="center" data-sortable="true" data-formatter="dateFormatter" rowspan="2">Date</th>
            <th data-field="title" class="title" data-filter-control="input" data-align="center" rowspan="2" data-cell-style="cellStyle">Title</th>
            <th data-align="center" colspan="2">Sender</th>
            <th rowspan="2" data-align="center" data-field="operate" data-formatter="operateFormatter" data-events="operateEvents"></th>
        </tr>
        <tr>      
            <th data-field="sender.name" data-formatter="imageFormatter" data-align="center" data-sortable="true" data-filter-control="input">Name</th>
            <th data-field="sender.username" data-sortable="true" data-align="center" data-filter-control="input">Username</th>
        </tr>
    </thead>
</table>
<script>
    
    // Cell styles
    function cellStyle(value, row, index, field) {
        if (field === "title") {
            return {
                classes: ['font-weight-bold blue']
            };
        }
        if (field === "message") {
            return {
                classes: ['text-left']
            };
        }
        return {};
    }
    
    // User picture cell formatter
    function imageFormatter(value, row) {
        return '<img class="img-responsive img-circle user-picture" src="Content/images/user_pictures/' + (row.picture ? row.picture : "default.png") + '" />' + '<span>' + value + '</span>';
    }
    
    // Date cell formatter
    function dateFormatter(value, row) {
        var date = new Date(value);
        return '<div class="blue font-weight-bold">' + date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear() + '</div><div class="blue font-weight-bold">' + date.toLocaleTimeString() + '</div>';
    }
    
    // Message status cell formatter
    function statusFormatter(value, row) {

        if (value === true) {
            return '<i class="fa fa-envelope"></i><span class="d-none">New</span>';
        } else {
            return '<i class="fa fa-envelope-open"></i><span class="d-none">Read</span>';
        }
    }
    
    // Tables formatter
    function detailFormatter(index, row) {
        var html = '<div class="html-text" data-userid=' + row.id + '>' + row.body + '</div>';
        var data = JSON.stringify({'actionName': 'updateMessageInStatus', 'data': {message_id: row.id}});
        var table = $('#messages-in');
        if (row.is_new) {
            $.ajax({
                url: index.php,
                type: 'POST',
                data: {data: data},
                success: function (response) {
                    var res = null;
                    try {
                        res = jQuery.parseJSON(response);
                    } catch (e) {
                        res = response;
                    }
                    if (res) {
                        if (res.success) {
                            table.bootstrapTable('updateCellByUniqueId', {
                                id: row.id,
                                field: 'is_new',
                                value: false
                            });
                            table[0].rows[index + 2].firstChild.children[0].click();

                        }
                    }
                },
                error: function (xhr, desc, err)
                {
                    console.log(err);
                }

            });

        }
        return html;
    }
    
    // Delete message icon formatter
    function operateFormatter(value, row, index) {
        return [
            '<i class="fa fa-trash-o" aria-hidden="true"></i>'
        ].join('');
    }
    
    // Delete message
    window.operateEvents = {
        'click .fa-trash-o': function (e, value, row, index) {
            var table = $('#messages-in');
            var data = JSON.stringify({'actionName': 'deleteMessage', 'data': {message_id: row.id, mailbox_type: 'inbox'}});
            $.ajax({
                url: index.php,
                type: 'POST',
                data: {data: data},
                beforeSend: function () {
                    $('#loader-div').show();
                },
                complete: function () {
                    $('#loader-div').hide();
                },
                success: function (response) {
                    var res = null;
                    try {
                        res = jQuery.parseJSON(response);
                    } catch (e) {
                        res = response;
                    }
                    if (res) {
                        if (res.success) {
                            table.bootstrapTable('remove', {
                                field: 'id',
                                values: [row.id]
                            });
                        } else {
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Database error has been occured',
                                showConfirmButton: true,
                            });
                        }
                    }
                },
                error: function (xhr, desc, err)
                {
                    console.log(err);
                }
            });
        }
    };
</script>